body {
  font-family: sans-serif;
}

.form,
.greetings {
  display: none;
  padding: 10px 10px;
  font-size: 60px;
  color: white;
}

.showing {
  display: block;
}

.clock {
  font-size: 135px;
  color: white;
}

.writeToDo {
  all: unset;
  border: none;
  width: 500px;
  height: 35px;
  margin: 10px 10px;
  text-align: center;
  font-size: 40px;
}

.contatiner {
  position: absolute;
  top: 39%;
  height: 240px;
  margin-top: -143px;
  left: 31%;
  text-align: center;
}



li > span {
  font-size: 75px;
  color: white;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: fadeIn 0.1s linear;
}

.js-weather{
  margin-top: 10px;
  color: white;
  font-size: 60px;
}

.line{
  color: gray;
}

.black{
  color: black;
}